*{
    background-color: #69cbf5a2;

}

.letter{
    position: sticky;
    top: 0px;
    width: 70%;
    height: 30px;
    background-color: #0d2e3d;
    padding: 10px;
    margin: 13px 10px 13px 0px;
    border: 5px ridge rgb(228, 217, 217);
    color: rgb(200, 148, 25);
    font-size: 2.5rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
}


fieldset , table{
    background-color: rgba(255, 255, 255, 0.534);
}

th , td{
    border: 2px ridge rgb(126, 48, 48);
    background-color: rgba(87, 180, 109, 0.781);
    font-size: 1.3rem;
    text-align: center;
    padding: 3px;
}



table{
    width: 50%;
}

