*{
    background-color: black;
}

.parent{
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.child{
    font-size: 2rem;
    padding: 7px;
    border-radius: 5px;
    color: rgb(206, 96, 7);
    border: 4px solid rgb(206, 96, 7);
}

.child:hover{
    transform: translateY(-2px);
    color: #AFE313;
    box-shadow: 3px 8px 10px -4px #AFE313 ;
    /* border: 4px solid #AFE313; */
    border-top: 4px solid #AFE313;

    ;
}