
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
}


.fab{
    margin-right: 10px;
}

.card:hover{
    background-color: rgb(210, 236, 245);
}




.navbar li a:hover{
    font-weight: bolder;
    text-decoration: underline;
}


.card img{
    height: 200px;
    
    
}

.card{
    border: 4px ridge grey;
    background-color: white;
}