*{
    margin: 0;
    padding: 0;
}


nav{
    
    justify-content: center;
    align-items: center;
    padding: 3px;
    background-color: #343a40;
    height: 45px;
    border-radius: 3px;
}
nav h1{
    display: inline-block;
    font-size: 1.7rem;
    margin: 5px 10px;
    color: white;
    background-color: #343a40;
}

nav i{
    font-size: 1.7rem;
    margin: 5px 2px;
    color: white;
    background-color: #343a40;
}


#section{
    width: 100%;
    height: 92vh;
    
    background: url(./bg.jpg) center center / cover no-repeat;

}



#container{
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

#todo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 30px;

}

#do{
    width: 400px;
    height: 23px;
    border-radius: 5px;
    border: 3px ridge white;
    margin-right: 10px;
    font-size: 1.2rem;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    background-color: #d6e2e9;
    
}


#btn{
    width: 70px;
    height: 27px;
    margin-left: 10px;
    font-size: 26px;
    color: black;
}

#btn:hover{
    color: #ccc;
}


#op{
    
    width: 403px;
    height: auto;
    margin-right: 90px;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    
}

li{
    display: inline-block;
    list-style: none;
    font-size: 2rem;
    margin-left: 5px;
    font-weight: 100;
}


#open{
    width: 1200px;
}

#open i{
    font-size: 20px;
    margin: 0px 5px 0px 5px;
}




.include{
    background-color: darkseagreen;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.exclude{
    background-color: darkkhaki;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.none{
    display: none;
}




.temp{
    width: 326px;
    margin-top: 5px;
    height: 26px;
    border-radius: 4px;
    background-color: lightblue;
    font-size: 1.4rem;
}



